@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Clear sans';
    font-style: normal;
    src: url('../fonts/clearsans/ClearSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    src: url('../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Regular.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Bold.woff') format('woff');
}

html, body {
    height: 100%;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.small-caps {
    font-size: 75%;
    letter-spacing: .1em;
    margin-right: -.1em;
    text-transform: uppercase;
}


.veryStrong{
  font-family: 'PT Sans Caption', -apple-system, 'Roboto', Segoe WP, sans-serif;
  font-weight: bold;
}


h1,
h2,
h3 {
    font-family: 'PT Sans Caption', -apple-system, 'Roboto', Segoe WP, sans-serif;
    font-weight: bold;
    line-height: 1.3;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Clear sans', -apple-system, 'Roboto', Segoe WP, sans-serif;
    line-height: 1.5;
    font-size: 95%;
    background: #fdfdfa;
}

.tablet body {
    font-size: 65%;
}

.mobile body {
    font-size: 55%;
}

a {
    text-decoration: none;
    color: #2786d6;
}

a:active {
    color: #c00;
}

h1 {
    font-size: 3em;
    margin: 0 0 .5em 0;
}

h2 {
    font-size: 2.5em;
    margin: 0 0 1em 0;
}

.text h3 {
    font-size: 1.2em;
    margin: 2em 0 1em 0;
}

.notice {
    margin: 0 0 1em 0;
}

p {
    margin: 0 0 1em 0;
}

.popup {
    font-size: 2.5em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 22px 16px -18px rgba(0, 0, 0, .75);
}

.popup .code {
    text-align: center;
    font-size: 75%;
    margin-bottom: 0;
}

.text {
    font-size: 1.9em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.notice {
    font-size: 2em;
    color: #777;
    position: relative;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.novice {
    position: relative;
}

.mobile.portrait .novice {
    padding-left: 0.6em;
    padding-top: 2.0em;
}

.tablet.portrait .novice {
    padding-top: 2.0em;
}

.mobile.landscape .novice,
.tablet.landscape .novice {
    padding-top: 2.0em;
}

.novice:before {
    content: "\00a0\00a0Изменения\00a0\00a0";
    position: absolute;
    height: 1.5em;
    top: .2em;
    bottom: .1em;
    background: #50c244;
    left: 0em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mobile.landscape .novice:before,
.tablet.portrait .novice:before {
    left: -.5em;
}

.tablet.landscape .novice:before {
    left: -.7em;
}

.novice:after {
    content: "";
    position: absolute;
    width: 2px;
    top: .2em;
    bottom: .1em;
    background: #50c244;
    left: 0em;
}

.mobile.landscape .novice:after,
.tablet.portrait .novice:after {
    left: -.5em;
}

.tablet.landscape .novice:after {
    left: -.7em;
}

.page {
    min-height: 100%;
    position: relative;
}

.android .page {
    padding-top: 6em;
}

.pageNoPadding {
    min-height: 100%;
    position: relative;
}

.page__header {
    padding-top: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0em;
}

.page__body {
    padding: 2.5em 1em 4em 1em;
}

.mobile.landscape .page__header, 
.mobile.landscape .page__body {
    padding-left: 2em;
    padding-right: 2em;
}

.tablet.portrait .page__header, 
.tablet.portrait .page__body {
    padding-left: 2em;
    padding-right: 2em;
}

.tablet.landscape .page__header, 
.tablet.landscape .page__body {
    padding-left: 3em;
    padding-right: 3em;
}

.text ul {
    list-style: none;
}

.text ul,
.text ol {
    margin: 0 0 1.5em 1.5em;
    padding: 0;
}

.text ul ul,
.text ol ul {

    margin-top: .5em;
}

.text ul li,
.text ol li {
	list-style-type: circle; 
    margin: 0 0 .6em 0;
    padding: 0;
    position: relative;
}

.shadow {
    position: fixed;
     -webkit-backface-visibility:hidden;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(75%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
    height: 5em;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.sign {
    margin-bottom: 3em;
}

.w-row .code,
.sign .name {
    margin-bottom: .5em;
}

.w-row .code {
    font-size: .8em;
}

.sign .name {
    text-align: center;
    font-family: 'PT Sans Caption', -apple-system, 'Roboto', Segoe WP, sans-serif;
    font-weight: bold;
}

.popups {
	display: none;
}

.pop-up-message {
	font-size: 1.9em;
}

.pop-up-message .code {
    text-align: center;
}

table {
    width: 100%;
    margin: 15px 0px 15px 0px;
    border: 0px solid #fff;
    border-collapse: collapse;
    cellspacing: 0;
}

.h {
    display: none;
}

td {
    border: 1px solid #adadad;
    padding: 5px;
}

td.img {
    text-align: center;
}

.h table, tr, td {
    border: 0px;
}

.red {
    color: red;
}

.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;



    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);

    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0.001; /* Chrome opacity transition bug */
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

/* Превью дорожного знака встроенного в текст */
.inline-znak {
    max-height: 1.5em;
    margin-bottom: -0.25em;
}

.share_btn {
    border-radius: 4px;
    border-width: 0px;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    height: 44px;
    transition-duration: 0.3s;
    color: white;
    background-color: #0065C3;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

.share_btn:active {
    background-color: #005aad;
}